*{
    margin:0px;
    padding: 0px;
    list-style-type:none;
    font-family:'Space Grotesk', sans-serif;
}

.he{
    font-size: 30px;
    font-weight: bold;
    top: 20px;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 10px;

}

.he:hover{
    color: #f77f00;
}

.link ul{
    list-style-type: none;
    float: right;    
    margin-right: 20px;
    line-height: 2px;
}

.link ul li{
    display: inline-block;

}

.link ul li a{
    text-decoration:none;
    color:black;
    padding: 4px 20px;
    border:1px solid #dddddd;
}

.link ul li a:hover{
    background: #f77f00;
    transition: 1s;
}